main{
  border: 2px solid black;
  background-color: pink;
}

.flexboxR {
  display: flex;
  align-items: center;
}

.flexboxC {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newTask{
  justify-content: flex-start;
  margin: 0;
}
.totalTask {
  align-items: flex-start;
  margin: 1rem;
}

.totalText{
  margin: 0;
}

.taskChart{
  align-content: end;
  padding: 1rem;
}

.IDList {
  padding: 1rem;
  margin: 0;
}

.taskList{
  padding: 1rem;
}
.checkbox {
  padding: 1rem;
}
.taskRemove{
  padding: 1rem;
}
